.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__spinner {
    border: 8px solid rgba(247, 241, 241, 0.1);
    border-top: 8px solid #f4f4f4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
